.MuiExpansionPanelDetails-root-124{
  display: inline-block;
  background-color: #d7efdf;
}


.athlete-dash-dropdown-select{
  text-align: center;
}

.athlete-information-subheaders{
  text-align: center;
  background-color: #7381ca;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #fff;
}

#athlete-sport-options{
  margin-left: 0px;
}

#athlete-attributes{
  margin: 0 auto;
  width: calc(100vw - 48px);
  max-width: 100vw;
}

#personal-info-edit{
  background-color: #7381ca;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  display: block;
  padding: .5rem;

}

#athlete-info-edit-show{
  padding-left: 1rem;
  padding-right: 1rem;
}

#new-sport-button{
  border-radius: 5px;
  background-color: #7381ca;
}
#new-equipment-button{
  border-radius: 5px;
  background-color: #7381ca;
}
#new-practice-button{
  border-radius: 5px;
  background-color: #7381ca;
}

#close-modal-button {
  border-radius: 5px;
  background-color: #7381ca;
}
