#google-map-main-container{
  width: 500px;
  height: 50vh;
  margin: 0px;
  padding: 0px;
  position: relative;
  overflow: hidden;
}

#athlete-dash-button{
  display: block;
  text-align: center;

}
