#homepage-full-body{
  background-color: #d7efdf;
  margin-top: 2px;
}
.top-bar{
  background-color: #7381ca;
}

#sign a {
   background-color: #7381ca;
}

#add-signup-button{
  color: #4253AF;
}

#add-practice-button {
  margin: 0 auto;
  display: block;
}

#add-practice-header {
  text-align: center;
}
